In [1]:
print("hello world")

hello world

# getting necessary packages

> we will be installing these packages using pip

In [ ]:
pip list

In [ ]:
pip install notebook

In [ ]:
pip install pandas

In [ ]:
pip install ipython-SQL

In [ ]:
pip install sqlalchemy

In [ ]:
pip install psycopg2

configuring postgreSQL conenction

In [24]:
%load_ext sql

# how to connect postgreSQL to Jupiter Notebook

In [25]:
%sql postgresql://postgres:abc@localhost/test

Testing PostgreSQL connection

In [26]:
%%sql

select * from table1

 * postgresql://postgres:***@localhost/test
1 rows affected.

[(1,)]

We will now study data types in python

In [27]:
string = "hello world"
integer = 4
float =  3.14
boolean = True ## must start with capital T
#check how to use boolean


is_it_big = 3>2
is_it_big2 = 3<2

print(integer, type(integer))
print(string, type(string)) 
print(float, type(float)) 
print(boolean, type(boolean)) 
print(is_it_big, type(is_it_big)) 
print(is_it_big2, type(is_it_big2)) 


Operation = 3-4
print(Operation, type(Operation)) 


#division float
op = 12/4
print(op,type(op))
#division int
op2 = 12//4
print(op2,type(op2))

#adding strings

op3 = "12"+"4"
print(op3, type(op3))

#subtraction is not supported for string

4 <class 'int'>
hello world <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
True <class 'bool'>
False <class 'bool'>
-1 <class 'int'>
3.0 <class 'float'>
3 <class 'int'>
124 <class 'str'>

In [34]:
import math
# prints the ceil using floor() method
print ("math.floor(-23.11) : ", math.floor(-23.11))
print ("math.floor(300.16) : ", math.floor(300.16))
print ("math.floor(300.72) : ", math.floor(300.72))


import math
# prints the ceil using floor() method
print ("math.ceil(-23.11) : ", math.ceil(-23.11))
print ("math.ceil(300.16) : ", math.ceil(300.16))
print ("math.ceil(300.72) : ", math.ceil(300.72))

math.floor(-23.11) :  -24
math.floor(300.16) :  300
math.floor(300.72) :  300
math.ceil(-23.11) :  -23
math.ceil(300.16) :  301
math.ceil(300.72) :  301

In [36]:
import math

print(math.factorial(5))

120

In [37]:
import math

print(math.sqrt(4))

2.0

In [60]:
import random

print(random.randint(1,1000))

836

# Conditional statements

In [61]:
x = 6

if (x > 5):
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is greater than 5

In [62]:
x = 4

if (x > 5):
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is not greater than 5

# Lists in Python

In [93]:
ls = [1,2,3,4,5,6,7]

import random

x = random.choice(ls)

print(x)


el = ls[::-3]

print (el)


ls2 = [7,8,9]

ls.extend(ls2)


print(set(ls[::-2]))

5
[7, 4, 1]
{2, 4, 6, 7, 9}

In [103]:
# Initial list
ls = [1, 2, 3, 4, 5, 6, 7]

# List to extend with
ls2 = [7, 8, 9]

# Extend ls with ls2 and remove duplicates
extended_list = list(set(ls + ls2))

# Create a new list by reversing and skipping every second element
result_list = extended_list[::2]

print(result_list)

[1, 3, 5, 7, 9]

In [107]:
lst = [1,2,3,3,3,4,5]
index_of_3 = lst.index(3)
print(index_of_3)


countof3 = lst.count(3)
print(countof3)

lst.remove(3)
print(lst)


print("removed element",lst.pop())
print(lst)

2
3
[1, 2, 3, 3, 4, 5]
removed element 5
[1, 2, 3, 3, 4]

In [2]:
lst = ['a','c','b','d']
print(sorted(lst))
print(sorted(lst)[::-1])

['a', 'b', 'c', 'd']
['d', 'c', 'b', 'a']

# functions

def_ ---> definition

`def squared(x: int):
    y = x**2
    return_y

print(squared(3))`

In [12]:
def squared(x:int):
    y = x**2
    return y


x = 7
print(squared(x))


def pow(x,times):
    return x**times

x = 7
times = 2

print(pow(x,times))


assert pow(3,2) ==squared(3),"there is a mistake"
assert pow(3,2) ==squared(4),"there is a mistake"

49
49

AssertionError: there is a mistake

# coding excercise 1

In [13]:
lst = [1,2,3,4,5]

print(max(lst))

5

In [14]:
def find_max(numbers):
    return max(numbers)


print(find_max([1,2,3,4,5]))

5

In [29]:
def greet(name: str, age: int) -> str:
    # Do something here
    lst = [name, str(age)]
    
    return "Hello, "+ lst[0] + "! You are "+lst[1]+"years old."


print(greet("Alice",25))

Hello, Alice! You are 25years old.

Solution

In [31]:
def greet(name: str, age: int) -> str:
    return f"Hello, {name}! You are {age} years old."

print(greet("Alice",25))

Hello, Alice! You are 25 years old.

# odd even

In [33]:
def is_even(num):
    # Do some checks with num
    boolean = num%2 == 0 
    return boolean # True | False

print(is_even(4))

True

# factorial

In [36]:
import math
def factorial(n):
    result = math.factorial(n) # something we will add to
    # Maybe some type of a loop?
    return result


print(factorial(5))

120

correct result

In [37]:
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result



print(factorial(5))

120

# Lets study Loops

In [2]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)

1
2
3
4
5
6
7
8
9

In [3]:
lst = [1,2,3,4,5,6,7,8,9]

for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9

In [5]:
for i in range(1,10):
    print (i)

1
2
3
4
5
6
7
8
9

In [6]:
for i in range(1,10):
    print (i**i)

1
4
27
256
3125
46656
823543
16777216
387420489

In [7]:
lst = [1,2,3,4,5,6,7,8,9]
counter = 0
while counter<len(lst):
    print(lst[counter])
    counter += 1

1
2
3
4
5
6
7
8
9

looking for a number?

In [19]:
lst = [1,2,3,4,5,6,7,8,9]
number_toSearch = 12


for i in lst:
    if i == number_toSearch:
        pass
        print("Number is found")
        break
else:
    print("Number is not found")

Number is not found

In [28]:
%%sql

select * from table1

 * postgresql://postgres:***@localhost/test
1 rows affected.

[(1,)]

In [27]:
%%sql

CREATE TABLE users (user_id int, age int);
INSERT INTO users (user_id, age)
VALUES
    (1, 25),
    (2, 30),
    (3, 22),
    (4, 35),
    (5, 28),
    (6, 40),
    (7, 19),
    (8, 27),
    (9, 33),
    (10, 29),
    (11, 31),
    (12, 24),
    (13, 38),
    (14, 26),
    (15, 23),
    (16, 32),
    (17, 21),
    (18, 37),
    (19, 34),
    (20, 36),
    (21, 20),
    (22, 42),
    (23, 45),
    (24, 18),
    (25, 39),
    (26, 43),
    (27, 48),
    (28, 50),
    (29, 44),
    (30, 52),
    (31, 47),
    (32, 19),
    (33, 55),
    (34, 58),
    (35, 21),
    (36, 60),
    (37, 56),
    (38, 22),
    (39, 62),
    (40, 65),
    (41, 59),
    (42, 23),
    (43, 68),
    (44, 70),
    (45, 64),
    (46, 24),
    (47, 72),
    (48, 75),
    (49, 69),
    (50, 26)

 * postgresql://postgres:***@localhost/test
Done.
50 rows affected.

[]

In [30]:
%%sql
select * from users limit 5

 * postgresql://postgres:***@localhost/test
5 rows affected.

[(1, 25), (2, 30), (3, 22), (4, 35), (5, 28)]

# unique elements

In [31]:
tup = {1,2,3,3,4,5,6,6,7}
print(tup)

{1, 2, 3, 4, 5, 6, 7}

In [36]:
lst = [1,2,3,3,4,5,6,6,7]
tup = {1,2,3}
tup.update(lst)
print(tup)

{1, 2, 3, 4, 5, 6, 7}

In [37]:
lst1 = [1, 2, 3, 4, 5]
lst2 = [3, 4, 5, 6, 7]

unique_elements = list(set(lst1) & set(lst2))

print(unique_elements)

[3, 4, 5]

In [41]:
def find_unique_elements(lst):
    return len(set(lst))

lst = [1,2,3,3,4,5,6,6,7]
print(find_unique_elements(lst))

7

reverse string

In [48]:
x = "hello"
y = x[::-1]
print (y)

olleh

In [67]:
def sum_of_digits(num: int) :
    y = f"{num}"
    num1 = int(y[0])
    num2 = int(y[1])
    return num1+num2


print(sum_of_digits(25))


def greet(name: str, age: int) -> str:
    return f"Hello, {name}! You are {age} years old."

print(greet("Alice",25))

7
Hello, Alice! You are 25 years old.

In [66]:
def sum_of_digits(n):
    # Ensure n is a positive integer
    if n <= 0 or not isinstance(n, int):
        return "Invalid input. Please provide a positive integer."

    # Convert the integer to a string to iterate through its digits
    n_str = str(n)

    # Initialize a variable to store the sum of digits
    digit_sum = 0

    # Iterate through each character in the string and add its integer value to the sum
    for char in n_str:
        digit_sum += int(char)

    return digit_sum

# Example usage:
num = 25
result = sum_of_digits(num)
print(f"The sum of digits in {num} is: {result}")

The sum of digits in 25 is: 7